#anime_db_catalog_plugin_search_genres {
	width: 595px;
}
#anime_db_catalog_plugin_search_genres input,
#anime_db_catalog_plugin_search_genres label {
	margin: 0;
	display: inline-block;
}
#anime_db_catalog_plugin_search_genres input {
	margin: 0;
	position: relative;
	vertical-align: middle;
	bottom: 1px;
}
#anime_db_catalog_plugin_search_genres label {
	width: 130px;
	margin-left: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}